@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #202020;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #0085FF;
}

nav {
    display: flex;
    gap: 20px;
}

nav a box-icon {
    padding: 5px;
    transition: 0.3s ease-in-out;
}

#interaction {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coins, .friends, .profile {
    border: 3px solid #FFB800;
    background-color: #ffbd5a30;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.friends, .profile {
    border-color: #0085FF;
    background-color: #5a89ff30;
}

.friends:hover , .profile:hover {
    filter: drop-shadow(2px 2px 10px #0084ff9d);
}

.coins:hover {
    filter: drop-shadow(2px 2px 10px #ffc227a4);
}

.username {
    color: #b1ccff;
    font-weight: 700;
}

.gold {
    background: linear-gradient(to right, #FFA800, #FFEF9B);
    color: transparent;
    background-clip: text;
}

header img {
    transition: 0.3s ease-in-out;
}

header img:hover {
    filter: drop-shadow(2px 2px 20px rgb(0, 119, 255));
}

.on {
    background-color: #50aaffa4;
    padding: 5px;
    border-radius: 10px;
}

nav hr {
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #b1ccff;
}

nav a box-icon:hover {
    transform: scale(1.2);
}

.on:hover {
    transform: none;
}